.searchbox button {
    border: 1px solid #101D42;
    margin-bottom: 25px;
}

.searchbox button:hover {
    background-color: #101D42;
    color: #ffffff;
}

.searchbox{
    margin-bottom: 15px;
    align-content: center;
    justify-content: center;
}